@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: rgb(77, 180, 77);
  bottom: 40px;
  right: 40px;
  color: white;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 999;
}

.fa-whatsapp {
  font-size: 50px;
}

.fa-whatsapp:hover {
  background-color: rgb(15, 129, 15);
  transform: scale(1.1, 1.1);
  border-radius: 50%;
}

/*Tipografia con enlace web*/
/*font-family: "Abril Fatface", serif;*/
/*tipografia local*/
@font-face {
  font-family: Barber-Complete;
  src: url(../typo/Barber-Complete.otf);
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6 1fr);
  grid-template-areas: "header header" "main main" "carrusel carrusel" "artistas artistas" "video video" "footer footer";
  background-image: url(../images/fondo\ de\ pantalla.jpg);
}

.header {
  grid-area: header;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  opacity: 0.9;
}

h4 {
  color: rgb(212, 82, 82);
  font-weight: 700;
  margin: 15px;
}

.list-menu button {
  color: aliceblue;
  background-color: rgb(48, 119, 182);
}

.list-menu a {
  color: aliceblue;
  margin: 10px;
}

.list-menu a:hover {
  color: green;
  transform: scale(1.2, 1.2);
}

.titulo a img {
  width: 250px;
}

.main {
  grid-area: main;
}

.main h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 300px;
  margin-bottom: 50px;
  font-family: "Abril Fatface", serif;
  font-weight: 800;
  animation: h1 8s linear infinite alternate both;
}

@keyframes h1 {
  0% {
    opacity: 1;
    color: green;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    color: rgb(241, 13, 13);
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: white;
  }
}
.carrusel {
  grid-area: carrusel;
}

.carrusel-img {
  width: 700px;
  height: auto;
}

.carrusel p {
  text-align: center;
  margin-top: 10px;
  font-family: "Abril Fatface", serif;
  color: white;
  padding: 10px;
  font-weight: 200;
  font-size: 1.5rem;
  background: linear-gradient(to top, rgb(46, 46, 97), rgb(47, 97, 40));
  transition: all 2s;
}

.carrusel p:hover {
  color: white;
  transform: scale3d(1.2, 1.2, 1);
  background: linear-gradient(to top, rgb(230, 11, 11), rgb(36, 11, 12));
}

.artistas {
  grid-area: artistas;
}

.artistas div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

h2 {
  font-size: 2ren;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
  color: rgb(230, 219, 219);
  font-weight: 200;
  font-family: "Abril Fatface", serif;
}

.artistas img {
  width: 400px;
  height: 400px;
  margin: 10px;
  border-radius: 50%;
}

.video {
  grid-area: video;
}

.video1 {
  text-align: center;
}

video {
  height: 500px;
  width: auto;
}

.video2 {
  text-align: center;
}

.centrar-videos h4 {
  color: white;
  text-align: center;
  font-weight: 800;
  padding-bottom: 10px;
  margin-top: 30px;
}

.centrar-videos button {
  background-color: rgb(13, 14, 13);
  color: rgb(78, 78, 74);
  font-size: 1rem;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px;
  border-radius: 10%;
  margin-bottom: 50px;
}

.centrar-videos button img {
  width: 150px;
}

.boton {
  text-align: center;
  margin-top: 30px;
}

.centrar-videos button:hover {
  background-color: rgb(180, 228, 153);
  color: green;
  border: 2px solid black;
  box-shadow: 2px 2px 2px 2px;
  transform: scale(1.2, 1.2);
}

.footer {
  grid-area: footer;
}

.footer-container {
  margin-top: 50px;
  background-color: rgb(17, 16, 16);
  opacity: 0.8;
}

hr {
  color: aliceblue;
}

.redes img {
  width: 30px;
  margin-top: 10px;
}

.redes {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 5px;
}

.redes img:hover {
  transform: scale(1.2, 1.2);
}

.redes h5 {
  color: white;
  margin-top: 10px;
  font-family: "Abril Fatface", serif;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.contactame input {
  margin-bottom: 10px;
}

.link button {
  margin: 15px;
  background-color: rgb(17, 68, 24);
  padding: 5px;
}

.link button:hover {
  transform: scale(1.2, 1.2);
}

.link p {
  color: white;
  border: 2px solid white;
  padding: 10px;
}

.link button {
  color: white;
  background-color: blue;
  padding: 10px;
  border-radius: 10%;
}

.link a {
  text-decoration: none;
  color: aliceblue;
  padding: 20px;
}

.gif img {
  width: 200px;
}

.gif img:hover {
  transform: scale(1.2, 1.2);
}

.email {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.email a {
  text-decoration: none;
  color: antiquewhite;
  font-weight: 800;
}

.email button {
  background-color: rgb(9, 82, 9);
  padding: 5px;
}

.email button:hover {
  transform: scale(1.2, 1.2);
}

.footer-p {
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  color: rgb(99, 95, 95);
}

/*shows*/
.shows-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6 1fr);
  grid-template-areas: "header-shows" "main-shows" "img-shows" "img-shows2" "img-shows3" "footer-shows";
  background-image: url(../images/fondo\ de\ pantalla.jpg);
}

.header-shows {
  grid-area: header-shows;
}

.main-shows {
  grid-area: main-shows;
}

.main-shows h2 {
  color: white;
  text-align: center;
  margin-top: 300px;
  margin-bottom: 100px;
}

.img-shows {
  grid-area: img-shows;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin-bottom: 100px;
}

.img-shows2 {
  grid-area: img-shows2;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin-bottom: 100px;
}

.img-shows3 {
  grid-area: img-shows3;
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.div img {
  height: 350px;
  width: 450px;
  border-radius: 20%;
}

.div img:hover {
  transform: scale(1.1, 1.1);
}

.pyb button {
  font-size: 15px;
  padding: 10px;
  margin: 5px;
  border-radius: 10%;
  box-shadow: 2px 2px 2px 2px white;
  color: gray;
  background-color: rgb(77, 5, 5);
  font-weight: 600;
  text-align: center;
}

.pyb button:hover {
  transform: scale(1.1, 1.1);
}

.div {
  display: flex;
  flex-direction: column;
}

.pyb {
  text-align: center;
  margin-top: 20px;
}

.div p {
  color: rgb(224, 157, 170);
  font-size: 2rem;
}

.pyb a {
  text-decoration: none;
  color: white;
}

.footer-shows {
  grid-area: footer-shows;
  margin-top: 150px;
  margin-left: 200px;
  margin-right: 200px;
}

/*Contrataciones*/
.contrataciones {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3 1fr);
  grid-template-areas: "header-contrata" "main-contrata" "footer-contrata";
  background-image: url(../images/fondo\ de\ pantalla.jpg);
}

.header-contrata {
  grid-area: header-contrata;
}

.main-contrata {
  grid-area: main-contrata;
}

.formu {
  margin-left: 100px;
  margin-right: 100px;
}

form label {
  text-align: center;
}

.main-contrata h2 {
  margin-top: 300px;
  color: rgb(224, 153, 195);
  font-size: 1.5rem;
}

.main-contrata form div p {
  color: aquamarine;
}

.main-contrata div label {
  color: cornflowerblue;
}

.main-contrata button {
  margin-bottom: 150px;
}

.footer-contrata {
  grid-area: footer-contrata;
  margin-top: 150px;
  margin-left: 200px;
  margin-right: 200px;
}

/*nosotros*/
.nos_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5 1fr);
  grid-template-areas: "nos_header" "mnosotros" "imagen" "parrafo" "nos_footer";
  background-image: url(../images/fondo\ de\ pantalla.jpg);
}

.nos_header {
  grid-area: nos_header;
}

.nosheader img {
  width: 150px;
  border-radius: 50%;
  margin: 5px;
}

.mnosotros {
  grid-area: mnosotros;
}

.mnosotros h2 {
  margin-top: 300px;
  margin-bottom: 50px;
  color: rgb(168, 149, 218);
  font-weight: 700;
  text-align: center;
}

.imagen {
  grid-area: imagen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen img {
  height: 350px;
  width: 350px;
}

.parrafo {
  grid-area: parrafo;
  padding: 30px;
  color: white;
  margin-top: 60px;
  margin-bottom: 80px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  background: radial-gradient(circle, rgb(12, 12, 12), rgb(1, 54, 13), rgb(77, 5, 5));
}

.nos_footer {
  grid-area: nos_footer;
  margin-left: 200px;
  margin-right: 200px;
}

/*RRHH*/
.rrhh {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3 1fr);
  grid-template-areas: "header-rrhh" "main-rrhh" "footer-rrhh";
  background-image: url(../images/fondo\ de\ pantalla.jpg);
}

.header-rrhh {
  grid-area: header-rrhh;
}

.main-rrhh {
  grid-area: main-rrhh;
}

.main-rrhh div h2 {
  font-size: 25px;
  color: white;
  margin-top: 300px;
  font-weight: 700;
}

.contacto {
  margin-top: 50px;
  margin-bottom: 100px;
}

.contacto {
  display: flex;
  justify-content: center;
}

.campo {
  width: auto;
  margin-bottom: 30px;
}

.campo input {
  height: 40px;
  border-radius: 5%;
}

.genero {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}

.sexo input {
  padding: 8px;
  margin-right: 5px;
  background-color: rgb(15, 70, 70);
  color: white;
  border-radius: 10%;
}

.reset input {
  padding: 8px;
  margin-right: 40px;
  background-color: rgb(15, 70, 70);
  color: white;
  border-radius: 10%;
}

.campo input {
  width: 400px;
}

h5 {
  color: white;
}

.footer-rrhh {
  grid-area: footer-rrhh;
  margin-left: 200px;
  margin-right: 200px;
}

/*daddy mix*/
.daddy-mix {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6 1fr);
  grid-template-areas: "header-daddy header-daddy" "main-daddy main-daddy" "card1 card2" "card3 card4" "boton boton" "footer-daddy footer-daddy";
  background-image: url(../images/fondo\ de\ pantalla.jpg);
}

.header-daddy {
  grid-area: header-daddy;
}

.main-daddy {
  grid-area: main-daddy;
}

.main-daddy h1 {
  color: white;
  text-align: center;
  margin: 30px;
  margin-top: 300px;
  font-family: fantasy;
}

.card1 {
  grid-area: card1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  border: 2px solid gray;
}

.card2 {
  grid-area: card2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  border: 2px solid gray;
}

.card3 {
  grid-area: card3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  border: 2px solid gray;
}

.card4 {
  grid-area: card4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  border: 2px solid gray;
}

.boton {
  grid-area: boton;
  margin-bottom: 50px;
  margin-top: 50px;
}

.boton button {
  color: white;
  background-color: blue;
  padding: 10px;
  margin: 35px;
  border-radius: 10%;
  font-weight: 600;
  font-size: 18px;
}

.boton button:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 2px 2px 2px rgb(124, 124, 216);
}

.footer-daddy {
  grid-area: footer-daddy;
  margin-left: 200px;
  margin-right: 200px;
}

.daddy img {
  width: 300px;
  height: 500px;
  margin: 20px;
}

.daddy img:hover {
  transform: scale(1.1, 1.1);
}

.astros img {
  width: 300px;
  height: 300px;
}

.astros img:hover {
  transform: scale(1.1, 1.1);
}

.harry img {
  width: 500px;
  height: 400px;
}

.parrafos {
  color: white;
  margin: 20px;
}

@media only screen and (max-width: 768px) {
  /*inicio*/
  .main h1 {
    font-size: 24px;
  }
  .artistas img {
    width: 200px;
    height: 200px;
  }
  .footer-container h5 {
    font-size: 16px;
  }
  .footer p {
    font-size: 12px;
  }
  .gif img {
    width: 125px;
    padding: 0;
    margin: 0;
  }
  .link {
    font-size: 12px;
  }
  /*shows*/
  .header-shows h2 {
    color: rgb(121, 219, 108);
    font-size: 2rem;
  }
  .div img {
    width: 200px;
    height: 200px;
  }
  .div p {
    color: rgb(187, 184, 40);
    font-size: 20px;
  }
  .footer_estilo h4 {
    padding: 10px;
    color: aquamarine;
  }
  .footer-shows {
    margin-left: 40px;
    margin-right: 40px;
  }
  /*contrataciones*/
  .main-contrata div h2 {
    color: rgb(106, 201, 97);
    font-size: 20px;
  }
  .main-contrata form div p {
    color: rgb(185, 124, 44);
    font-size: 12px;
  }
  .footer-contrata {
    margin-left: 40px;
    margin-right: 40px;
  }
  /*nosotros*/
  .nosheader img {
    width: 100px;
  }
  .mnosotros {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
  }
  .imagen img {
    height: 150px;
    width: 150px;
    text-align: center;
  }
  .parrafo {
    grid-area: parrafo;
    color: white;
    padding: 20px;
    margin: 20px;
  }
  .imagen img {
    height: 250px;
    width: 250px;
  }
  .nos_footer {
    margin-left: 40px;
    margin-right: 40px;
  }
  .footer-p {
    font-size: 10px;
  }
  /*RRHH*/
  .header-rrhh img {
    width: 100px;
  }
  .header-rrhh h1 {
    color: rgb(166, 137, 245);
  }
  .main-rrhh h2 {
    font-size: 20px;
    color: rgb(153, 70, 70);
  }
  .footer-rrhh {
    margin-left: 40px;
    margin-right: 40px;
  }
  /*daddy mix*/
  .daddy-mix {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8 1fr);
    grid-template-areas: "header-daddy" "main-daddy" "card1" "card2" "card3" "card4" "boton" "footer-daddy";
    background-image: url(../images/fondo\ de\ pantalla.jpg);
  }
  .header-daddy {
    grid-area: header-daddy;
  }
  .main-daddy {
    grid-area: main-daddy;
  }
  .footer-daddy {
    grid-area: footer-daddy;
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media only screen and (max-width: 480px) {
  /*inicio*/
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6 1fr);
    grid-template-areas: "header" "main" "carrusel" "artistas" "video" "footer";
  }
  .titulo a img {
    width: 150px;
  }
  .carrusel-img {
    width: auto;
  }
  .carrusel p {
    font-size: 20px;
  }
  .main h1 {
    margin-top: 200px;
  }
  .video1 video {
    width: 200px;
    height: auto;
  }
  .video2 video {
    width: 200px;
    height: auto;
  }
  .centrar-videos button {
    font-size: 0.5rem;
  }
  .centrar-videos button img {
    width: 100px;
  }
  .redes img {
    width: 25px;
    margin-top: 10px;
  }
  .redes {
    padding: 5px;
  }
  button {
    background-color: rgb(26, 8, 124);
  }
  .boton a img {
    width: 140px;
  }
  .footer-p {
    margin-left: 20px;
    margin-right: 20px;
  }
  .centrar-videos button {
    background-color: rgb(172, 170, 209);
    color: rgb(33, 21, 146);
  }
  .text {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .redes {
    display: flex;
  }
  h5 {
    font-size: 15px;
  }
  .link p {
    font-size: 15px;
  }
  /*shows*/
  .shows-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6 1fr);
    grid-template-areas: "header-shows" "main-shows" "img-shows" "img-shows2" "img-shows3" "footer-shows";
  }
  .header-shows h2 {
    color: rgb(73, 82, 221);
    font-size: 2rem;
  }
  .img-shows {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .img-shows2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .img-shows3 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .div img {
    width: 200px;
    height: 200px;
  }
  .div p {
    color: rgb(187, 184, 40);
  }
  .footer-shows {
    margin: 20px;
  }
  /*contrataciones*/
  .main-contrata h2 {
    color: rgb(24, 146, 89);
    font-size: 15px;
  }
  .main-contrata form div p {
    color: aquamarine;
    font-size: 10px;
  }
  .main-contrata div label {
    color: rgb(196, 230, 73);
    font-size: 12px;
  }
  .formu {
    margin-left: 40px;
    margin-right: 40px;
  }
  .footer-contrata {
    margin: 20px;
  }
  /*nosotros*/
  .imagen img {
    width: auto;
    height: 130px;
  }
  .parrafo p {
    color: rgb(153, 230, 150);
    text-align: center;
    font-size: 11px;
  }
  .parrafo {
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .parrafo p {
    font-size: 15px;
  }
  .email a {
    font-size: 14px;
  }
  .text {
    display: flex;
    flex-direction: column;
  }
  .link {
    display: flex;
    flex-direction: column;
  }
  .nos_footer {
    margin: 20px;
  }
  /*RRHH*/
  .header-rrhh img {
    width: 80px;
    border-radius: 50%;
    margin: 5px;
  }
  .main-rrhh {
    grid-area: main-rrhh;
  }
  .main-rrhh div h2 {
    font-size: 17px;
    text-align: center;
    margin-top: 200px;
  }
  .campo input {
    width: 300px;
    text-align: center;
  }
  .campo h5 {
    font-size: 15px;
  }
  .sexo h5 {
    font-size: 15px;
  }
  .footer-rrhh {
    margin: 20px;
  }
  /*daddy*/
  .main-daddy h1 {
    margin-top: 200px;
  }
  .card1 {
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
  .card2 {
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
  .card3 {
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
  .card4 {
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
  .daddy img {
    width: 150px;
    height: 300px;
    margin: 10px;
  }
  .astros img {
    width: 300px;
    height: 300px;
    margin: 10px;
  }
  .harry img {
    width: 300px;
    height: 250px;
    margin: 10px;
  }
  .parrafos {
    margin: 10px;
  }
  .footer-daddy {
    margin-left: 40px;
    margin-right: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
